@model WebApplication.Models.InspectionModel

@{
    ViewData["Title"] = "Добавить обследование";
}

<div class="text-center text-info">
    <h1>@ViewData["Title"]</h1>
</div>
<hr />

@using (Html.BeginForm())
{
    <br>
    <td><input type="text" name="Model.Name"  /></td>
    <br>
    @Html.ValidationSummary(true, "", new { @style = "color: red" })
    <p>Состав:</p>
    <table class="table">
        <tr>
            <td>Name</td>
            <td>Cena</td>
        </tr>
        @foreach (BusinessLogic.ViewModels.CostViewModels doctor in ViewBag.Cost)
        {
            <tr>
                <td>@doctor.Name</td>
                <td><input type="number" name="Model.Cena[@doctor.Id]" value="0" min="0" /></td>
            </tr>
        }
    </table>

    <button type="submit" class="btn btn-info btn-sm">Создать</button>
}