@model WebApplication.Models.InspectionModel
@if (ViewBag.Id == 0)
{
    {
        ViewData["Title"] = "Добавить обследование";
    }
}
@if (ViewBag.Id != 0)
{
    {
        ViewData["Title"] = $"Добавить затраты к обследованию {ViewBag.Name}";
    }
}
<div class="text-center text-info">
    <h1>@ViewData["Title"]</h1>
</div>
<hr />

@using (Html.BeginForm())
{
    <input type="hidden" name="id" value=@ViewBag.Id>
    <br>
    <p>Введите название обседования:</p>
    <td><input type="text" name="Model.Name" value=@Convert.ToString(ViewBag.Name)></td>
    @Html.ValidationSummary(true, "", new { @style = "color: red" })
    <p>Состав:</p>
    <table class="table">
        <tr>
            <td>Название</td>
            <td>Цена</td>
        </tr>

        @foreach (var cost in ViewBag.Cost)
        {
            <tr>
                <td>@cost.Name</td>
                <td><input type="text" name="Model.Cena[@cost.Id]" value="0" /></td>
            </tr>
        }

    </table>

    <button type="submit" class="btn btn-info btn-sm">Создать</button>
}