@{
    ViewData["Title"] = "Затраты";
}
<div class="text-center text-info">
    <h1>Затраты</h1>
</div>
@using (Html.BeginForm("AddCost", "Doctor", FormMethod.Post))
{
    <input type="text" name="_name" value="" />
    <br />
    <button name="action" value="add">Добавить</button>
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<table class="table">
    <tr>
        <td>Название</td>
    </tr>
    @foreach (var cost in ViewBag.Cost)
    {
        <tr>
            <td>@cost.Name</td>
            <td>
                <a class="btn btn-primary btn-sm btn-block" asp-action="DeleteCost" asp-route-id="@cost.Id">Удалениe</a>
            </td>
            <td>
                <a class="btn btn-primary btn-sm btn-block" asp-action="UpdateCost" asp-route-id="@cost.Id">Изменениеe</a>
            </td>
        </tr>

    }
</table>